<div class="container-fluid my-lg-5 p-lg-5 p-2 my-lg-2 my-4 bg-section2"
    id="section-1">

    <div class="row align-items-center">

        <div class="col-12 col-lg-6 text-center order-2 order-lg-0">
            <h1 class="text-light">Fortaleciendo tu mundo digital<br>con seguridad impenetrable</h1>

        </div>

        <div class="col-12 col-lg-6 order-1 order-lg-0">
            <img src="assets/img/logo.png"
                class="d-block w-50 rounded-5 m-auto
                    "
                alt="Fortitech Logo">

        </div>
    </div>
</div>

<div class="container-fluid bg-dark p-lg-5 p-2 "
    id="section-2">

    <div class="row d-flex justify-content-center">

        <div class="col-12 col-lg-3 d-flex justify-content-center">

            <div class="card my-4"
                style="width: 18rem;">
                <img src="assets/img/login.webp"
                    class="card-img-top"
                    alt="...">

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 d-flex justify-content-center">

            <div class="card my-4"
                style="width: 18rem;">
                <img src="assets/img/credentials.webp"
                    class="card-img-top"
                    alt="...">

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 d-flex justify-content-center">

            <div class="card my-4"
                style="width: 18rem;">
                <img src="assets/img/lock.webp"
                    class="card-img-top"
                    alt="...">

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-lg-5 p-lg-5 p-2 my-2 bg-light"
    id="section-3">

    <div class="row d-flex justify-content-center text-center">

        <div class="col-lg-6 col-12 my-auto">

            <div id="carouselExampleFade"
                class="carousel slide carousel-fade">

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="assets/img/cripto-simetrica.png"
                            class="d-block w-100 rounded-4"
                            alt="..."
                            height="450">
                    </div>

                    <div class="carousel-item">
                        <img src="assets/img/cripto-asimetrica.png"
                            class="d-block w-100 rounded-4"
                            alt="..."
                            height="450">
                    </div>

                    <div class="carousel-item">
                        <img src="assets/img/cripto-hibrida.webp"
                            class="d-block w-100 rounded-4"
                            alt="..."
                            height="450">
                    </div>
                </div>
                <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-lg-6 col-12 d-block d-lg-none my-4">

            <div id="cardCarousel"
                class="carousel slide carousel-fade">

                <div class="carousel-inner">

                    <div class="carousel-item active">

                        <div class="card mx-auto"
                            style="width: 18rem;">
                            <img src="assets/img/default-user.png"
                                class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                                alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Review 1</h5>
                                <igc-rating value="ratingVal"
                                    min="1"
                                    max="5"
                                    (igcChange)="ratingChanged($event);"></igc-rating>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">

                        <div class="card mx-auto"
                            style="width: 18rem;">
                            <img src="assets/img/default-user.png"
                                class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                                alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Review 2</h5>
                                <igc-rating value="ratingVal"
                                    min="1"
                                    max="5"
                                    (igcChange)="ratingChanged($event);"></igc-rating>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">

                        <div class="card mx-auto"
                            style="width: 18rem;">
                            <img src="assets/img/default-user.png"
                                class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                                alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Review 3</h5>
                                <igc-rating value="ratingVal"
                                    min="1"
                                    max="5"
                                    (igcChange)="ratingChanged($event);"></igc-rating>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item">

                        <div class="card mx-auto"
                            style="width: 18rem;">
                            <img src="assets/img/default-user.png"
                                class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                                alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Review 4</h5>
                                <igc-rating value="ratingVal"
                                    min="1"
                                    max="5"
                                    (igcChange)="ratingChanged($event);"></igc-rating>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#cardCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#cardCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-12 col-lg-6 d-none d-lg-block">

            <div class="row justify-content-center my-lg-0 my-4">

                <div class="col-12 col-lg-5 m-lg-1">

                    <div class="card mx-auto"
                        style="width: 18rem;">
                        <img src="assets/img/default-user.png"
                            class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                            alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <igc-rating value="ratingVal"
                                min="1"
                                max="5"
                                (igcChange)="ratingChanged($event);"></igc-rating>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 m-1">

                    <div class="card mx-auto"
                        style="width: 18rem;">
                        <img src="assets/img/default-user.png"
                            class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                            alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <igc-rating value="ratingVal"
                                min="1"
                                max="5"
                                (igcChange)="ratingChanged($event);"></igc-rating>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 m-1">

                    <div class="card mx-auto"
                        style="width: 18rem;">
                        <img src="assets/img/default-user.png"
                            class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                            alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <igc-rating value="ratingVal"
                                min="1"
                                max="5"
                                (igcChange)="ratingChanged($event);"></igc-rating>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 m-1">

                    <div class="card mx-auto"
                        style="width: 18rem;">
                        <img src="assets/img/default-user.png"
                            class="card-img-top align-self-center w-50 mt-2 mt-lg-3"
                            alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <igc-rating value="ratingVal"
                                min="1"
                                max="5"
                                (igcChange)="ratingChanged($event);"></igc-rating>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>